{% extends 'base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>TODO list</h1>
    <a href="{% url 'catalog:task-create' %}" class="btn btn-primary mb-3">Add Task</a>
</div>

    <ul class="list-group">
        {% for task in tasks %}
            <li class="list-group-item">
                <strong>{{ task.content }}</strong>
                <strong style="color: {% if task.is_done %}green{% else %}red{% endif %};">
                    {% if task.is_done %}Done{% else %}Not Done{% endif %}
                </strong><br>
                <small>Created: {{ task.created_at }}</small>
                <small style="color: #8B0000;">Deadline: {{ task.deadline|default:"No deadline"|date:"M j, Y, h:i a" }}</small><br>
                <small style="color: gray; font-weight: normal; font-size: 1rem;">
                    Tags:
                    {% for tag in task.tags.all %}
                        {{ tag.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        No tags
                    {% endfor %}
                </small>
                <a href="{% url 'catalog:task-update' task.id %}" class="text-primary">Update</a>
                <a href="{% url 'catalog:task-delete' task.id %}" class="text-danger">Delete</a>

                <form action="{% url 'catalog:task-toggle' task.pk %}" method="post" style="float: right;">
                    {% csrf_token %}
                    {% if task.is_done %}
                        <button type="submit" class="btn btn-secondary btn-sm">Undo</button>
                    {% else %}
                        <button type="submit" class="btn btn-success btn-sm">Complete</button>
                    {% endif %}
                </form>
            </li>
        {% empty %}
            <li class="list-group-item">No tasks available.</li>
        {% endfor %}
    </ul>
{% endblock %}
